.App {
  text-align: center;
}
.hidden {
  display: none
}

.shown {
  display: inline-block
}
h1 {
  display: inline-block;
}
.night {
background: black;
color: white
}
.day {
  background: white;
  color: black
}
